*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#99C1B9;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 8vmin;
    color: #D88C9A;
    background-color: #F1E3D3;
}

#reset-btn{
    padding: 1rem;
    background-color: rgb(1, 1, 14);
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    color: white;
}

#new-btn{
    margin-left: 1rem;
    padding: 1rem;
    background-color: rgb(1, 1, 14);
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    color: white;
}

#msg{
    padding: 1rem;
    background-color:  rgb(1, 1, 14);
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    color: white;
}

.msg-content{
    margin-top: 1.5rem;
}

.hide{
    display: none;
}